schedule
pyrogram
TgCrypto
requests
youtube-search-python
pytube
hurry.filesize
psutil
bs4
lxml
OpenCC
Pillow
ffmpeg-python
youtube-dl
selenium
aiofiles
python-arq
IMDbPY
pySmartDL
translate
beautifulsoup4
aiohttp
wikipedia
pyttsx3
